# Core numerical & image processing
numpy
opencv-python
matplotlib
pillow

# PyTorch (CPU)
torch
torchvision

# CLIP dependencies
ftfy
regex
tqdm

# OpenAI CLIP
git+https://github.com/openai/CLIP.git

# pip install torch torchvision ftfy regex tqdm
# pip install git+https://github.com/openai/CLIP.git
# pip install pillow
